@font-face {
    font-family: AROMA-Bold;
    src: url(fonts/AROMA-Bold.ttf);
}

@font-face {
    font-family: AROMA-Light;
    src: url(fonts/AROMA-Light.ttf);
}

@font-face {
    font-family: DejaVuSans-Bold;
    src: url(fonts/DejaVuSans-Bold.ttf);
}

@font-face {
    font-family: DejaVuSans-BoldOblique;
    src: url(fonts/DejaVuSans-BoldOblique.ttf);
}

@font-face {
    font-family: DejaVuSans-ExtraLight;
    src: url(fonts/DejaVuSans-ExtraLight.ttf);
}

@font-face {
    font-family: DejaVuSans-Oblique;
    src: url(fonts/DejaVuSans-Oblique.ttf);
}

@font-face {
    font-family: DejaVuSans;
    src: url(fonts/DejaVuSans.ttf);
}

@font-face {
    font-family: DejaVuSansCondensed-Bold;
    src: url(fonts/DejaVuSansCondensed-Bold.ttf);
}

@font-face {
    font-family: DejaVuSansCondensed-BoldOblique;
    src: url(fonts/DejaVuSansCondensed-BoldOblique.ttf);
}

@font-face {
    font-family: DejaVuSansCondensed-Oblique;
    src: url(fonts/DejaVuSansCondensed-Oblique.ttf);
}

@font-face {
    font-family: DejaVuSansCondensed;
    src: url(fonts/DejaVuSansCondensed.ttf);
}

@font-face {
    font-family: Quicksand_Dash;
    src: url(fonts/Quicksand_Dash.otf);
}

@font-face {
    font-family: Quicksand-Bold;
    src: url(fonts/Quicksand-Bold.otf);
}

@font-face {
    font-family: Quicksand-BoldItalic;
    src: url(fonts/Quicksand-BoldItalic.otf);
}

@font-face {
    font-family: Quicksand-Italic;
    src: url(fonts/Quicksand-Italic.otf);
}

@font-face {
    font-family: Quicksand-Light;
    src: url(fonts/Quicksand-Light.otf);
}

@font-face {
    font-family: Quicksand-LightItalic;
    src: url(fonts/Quicksand-LightItalic.otf);
}

@font-face {
    font-family: Quicksand-Regular;
    src: url(fonts/Quicksand-Regular.otf);
}

::-webkit-input-placeholder {
    text-align: left;
    color: #9199a1;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: left;
    color: #9199a1;
}

.no-padding {
    padding: 0px;
}

.text-white {
    color: white;
}

.orange-text {
    color: #E66117;
}

.orange2-text {
    color: #FBB03B;
}

.text-bold {
    font-weight: bold;
}

.box-center {
    float: none;
    margin: 0 auto;
}
nav#mainNavHome {
    background-color: transparent;
    border-color: transparent;
    height: 110px;
}
nav#mainNavHome img.img-responsive.logo.visible-md{
    height: auto;
    width: 385px;
    margin-top: -4px;
}
nav#mainNavHome img.img-responsive.logo.visible-xs {
    height: auto;
    width: 220px;
    margin-top: -4px;
}
.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #fed136;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98);
    background-color: #001A1F;
}

.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    color: white;
    font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    border: 1px solid #ddd;
    margin-right: 16px;
    border-radius: 51px;
    padding: 6px 12px;
    margin-top: 8px;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #fed136;
    border-color: #fed136;
    outline: none;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}

/*//@media (min-width: 768px) {*/
/*// .home .navbar-custom {*/
    /*//         background-color: transparent;*/
    /*//         -webkit-transition: padding 0.3s;*/
    /*//         -moz-transition: padding 0.3s;*/
    /*//         transition: padding 0.3s;*/
    /*//         border: none;*/
    /*//     }*/
/*// .navbar-custom {*/
   /*//         padding: 10px 0;*/
   /*//         margin: '0px;'*/
   /*//     }*/
/*// .navbar-custom .navbar-brand {*/
   /*//         font-size: 2em;*/
   /*//         -webkit-transition: all 0.3s;*/
   /*//         -moz-transition: all 0.3s;*/
   /*//         transition: all 0.3s;*/
   /*//     }*/
/*// .navbar-custom .navbar-nav > .active > a {*/
   /*//         border-radius: 3px;*/
   /*//     }*/
/*// .navbar-custom .navbar-collapse {*/
   /*//         background: none;*/
   /*//     }*/
/*//     #home .box-subscribe input,*/
/*//     #home .box-subscribe select {*/
       /*//         height: 50px;*/
       /*//         box-shadow: inset 0 0 6px 2px #00252C;*/
       /*//         background: #ddd;*/
       /*//         border: none;*/
       /*//         outline: none;*/
       /*//         color: #848d95;*/
       /*//         text-align: left;*/
       /*//         font-size: 18px;*/
       /*//     }*/
/*//*/
/*//      #home .box-subscribe select {*/
        /*//         border-radius: 5px;*/
        /*//         -webkit-appearance: none;*/
        /*//         background: url(../img/dsb/button_dropdown.png) no-repeat right #ddd;*/
        /*//         padding-right: 25%;*/
        /*//         -moz-appearance: none;*/
        /*//         text-align-last: left;*/
        /*//     }*/
/*//*/
/*// }*/

ul.nav.navbar-nav.navbar-right {
    margin-top: 20px;
}
nav#manNavHome.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top ul.nav.navbar.navbar-right {
    margin-top: 20px;
}
nav#manNavHome.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix ul.nav.navbar.navbar-right {
    margin-top: 10px;
}
nav#mainNavHome.affix {
    background: #001A1F;
    height: 80px;
}
nav#mainNavHome.affix img.img-responsive.logo.visible-md {
    height: auto;
    width: 220px;
    margin-top: -9px;
}
nav#mainNavHome.affix ul.nav.navbar-nav.navbar-right {
    margin-top: 5px;
}

/*// @media (min-width: 768px) {*/
/*// .navbar-custom.affix {*/
    /*//         background-color: #001A1F;*/
    /*//         padding: 10px 0;*/
    /*//     }*/
/*// .navbar-custom.affix .navbar-brand {*/
   /*//         font-size: 1.5em;*/
   /*//     }*/
/*// }*/

img.img-responsive.logo {
    height: inherit;
    margin-top: -9px;
}

#videoModal .modal-dialog {
    background: transparent;
    padding-top: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 81%;
    margin: 60px auto;
    height: 100%;
    box-shadow: none;
    box-sizing: content-box;
}

#videoModal .modal-content {
    background-color: black;
    height: 85%;
    margin: 0px;
}

#videoModal .modal-dialog .modal-content {
    background-color: black;
    height: 85%;
}

#videoModal .modal-dialog .modal-content .modal-body {
    height: 100%;
    padding: 0px;
}

#videoModal .modal-dialog .modal-content .modal-body div {
    height: 100%;
}

#videoModal .modal-dialog .modal-content .modal-body div iframe {
    height: 100%;
    border: 0px;
}

#videoModal .modal-dialog .modal-content .modal-body .close {
    float: right;
    font-size: 51px;
    font-weight: 100;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    filter: alpha(opacity=20);
    font-size: 50px;
    position: fixed;
    font-weight: bold;
    right: 0;
    color: white;
    background: url('../img/home/close.png') no-repeat center;
    background-size: 60%;
    height: 50px;
    width: 50px;
    margin: 30px;
    outline: none;
}

#home header {
    height: 100vh;
    background-size: cover;
}

#home div.button-video a {
    outline: none;
}

#home div.container-fluid.section-2 {
    position: relative;
    box-shadow: rgb(0, 37, 44) 0px 0px 24px 20px;
    background: rgb(0, 37, 44);

}

#home div.container-fluid.section-2 {
    background-color: #00252C;
}

#home div.container-fluid.section-2 h2 {
    font-size: 6em;
    color: #ddd;
    padding-top: 30px;
    font-family: AROMA-Light;
}

#home div.container-fluid.section-2 h3 {
    font-size: 2em;
    color: #ddd;
    font-family: Century Gothic, 'Muli', sans-serif;
    font-weight: bold;
}

#home div.container-fluid.section-2 p.gray-text.text-center {
    font-size: 1.6em;
    color: #ddd;
    font-family: Century Gothic, 'Muli', sans-serif;
}

#home div.container-fluid.section-2 span.number-features {
    position: absolute;
    left: 0px;
    border: 1px solid #FC9320;
    width: 40px;
    height: 41px;
    font-size: 27px;
    border-radius: 26px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    color: #FBB03B;
    font-family: Century Gothic, 'Muli', sans-serif;
}

#home div.container-fluid.section-2 .side-features-1 {
    position: absolute;
    left: -2px;
    top: -300px;
    height: 124%;
}

#home div.container-fluid.section-2 .side-features-2 {
    position: absolute;
    right: 0px;
    top: -300px;
    height: 124%;
}

#home div.container-fluid.section-2 hr {
    width: 80%;
    border-color: #FF931D;
}

#home div.container-fluid.section-2 .row.text-title {
    display: block;
    position: inherit;
}

#home div.container-fluid.section-2 img.features-img {
    width: auto;
    padding-bottom: 20px;
    padding-top: 55px;
    max-height: 354px;
}
@media (max-width: 768px) {
    #mainNavHome button.navbar-toggle {
        margin-top: 22.5px;
    }
    #mainNavHome div#bs-example-navbar-collapse-1 {
        background: #001A1F;
        text-align: center;
        padding: 20px;
    }
    #home div.container-fluid.section-2 img.features-img {
        width: auto;
        padding-bottom: 20px;
        padding-top: 55px;
        max-height: 200px;
    }
    ul.nav.navbar-nav.navbar-right {
        margin-top: -10;
    }
    #home .box-subscribe input,
    #home .box-subscribe select {
        height: 30px;
        box-shadow: inset 0 0 6px 2px #00252C;
        background: #ddd;
        border: none;
        outline: none;
        color: #848d95;
        text-align: left;
        font-size: 14px;
    }

    #home .box-subscribe select {
        border-radius: 5px;
        -webkit-appearance: none;
        background: url(../img/dsb/button_dropdown.png) no-repeat right #ddd;
        padding-right: 25%;
        -moz-appearance: none;
        text-align-last: left;
    }
}
#home div.container-fluid.section-3 {
    background: #00252C;
    position: relative;
    padding: 100px 0px;
    box-shadow: 0px 0px 24px 20px #00252C;
}

#home div.container-fluid.section-3 ul {
    margin-top: 40px;
    list-style: none;
    margin-bottom: 40px;
    display: inline-block;
}

#home div.container-fluid.section-3 ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

#home div.container-fluid.section-3 ul li img.sponsore-image-home.no-decoration {
    height: 120px;
}

#home div.container-fluid.section-3 img.win-real-cash-img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 120px;
    width: 100%;
}

#home div.container-fluid.section-3 h3 {
    margin-top: 400px;
    color: #ddd;
    line-height: 1.5;
    padding-top: 65px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    font-family: Century Gothic, 'Muli', sans-serif;
    font-size: 34px;
}

#home div.container-fluid.section-3 h3.visible-xs {
    margin-top: 50px;
    font-size: 24px;
}

#home div.container-fluid.section-3 .container {
    height: 300px;
    padding-top: 60px;
}

#home div.container-fluid.section-3 .container h2 {
    color: #E66117;
}

#home div.container-fluid.section-3 .container p {
    font-size: 20px;
    line-height: 1.7;
}

#home div.container-fluid.section-4 {
    height: 500px;
    background: #012329;
    padding-top: 70px;
    color: #E66117;
    background: url('../img/home/homepage_04.png') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#home div.container-fluid.section-4 h4 {
    font-size: 1.9em;
    line-height: 1.5;
    color: white;
    margin-top: 40px;
    font-family: Century Gothic, 'Muli', sans-serif;
    margin-bottom: 40px;
}

#home div.container-fluid.section-4 h4.visible-xs {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home div.container-fluid.section-4 .text-join {
    font-size: 5em;
    color: white;
    border: 5px solid white;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 49px;
    text-align: center;
    float: none;
    text-decoration: none;
    margin: 0 auto;
    display: inherit;
    width: 41%;
}

#home div.container-fluid.section-4 .text-join.visible-xs {
    width: 90%;
    font-size: 2.5em;
    margin-top: 60px;
}

#home .row.easy {
    background: #00252C;
    padding-top: 50px;
}

#home header {
    background-image: url('../img/home/background-home-section-1.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    color: white;
    background-position-y: 0px;
    height: 110vh;
    background-size: cover;
    padding-top: 100px;
}

#home .features-grids {
    background: #00252C;
    padding-bottom: 20px;
}

#home header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    #home header .intro-text {
        padding-top: 50px;
    }
}

#home header .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    color: #ddd;
}



#home .padding-5 {
    padding: 1px;
}

#home form#subscribe {
    margin: 0 auto;
    width: 100%;
}

#home input.subscribe {
    margin-left: 2px;
    height: 50px;
    box-shadow: inset 0 0 4px 1px #00252C;
    border: none;
    background-image: url('../img/home/SubscribeButtonIddle.png');
    outline: none;
    background-size: cover;
    min-width: 155px;
}

#home input.subscribe:hover {
    background-image: url('../img/home/SubscribeButtonHover2.png');
}

#home header .intro-text .intro-lead-in img {
    width: 50%;
}

#home header .intro-text .intro-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 25px;
    color: #FF931E;
}

/*// @media (min-width: 768px) {*/
/*// #home header .intro-text {*/
    /*//         padding-top: 25vh;*/
    /*//         padding-bottom: 200px;*/
    /*//     }*/
/*//     #home header .intro-text .intro-lead-in {*/
       /*//         font-size: 40px;*/
       /*//     line-height: 40px;*/
       /*//     margin-bottom: 25px;*/
       /*// }*/
/*// #home header .intro-text .intro-heading {*/
   /*//         font-weight: 700;*/
   /*//         font-size: 75px;*/
   /*//         line-height: 75px;*/
   /*//         margin-bottom: 50px;*/
   /*//     }*/
/*// }*/

#home .black {
    margin-top: 60px;
    padding: 10px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.498039) 0%, rgba(204, 204, 204, 0.568627) 100%)
}

#home .container::after {
    clear: both;
}

#home .page-heading h2 {
    font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 0px;
    color: white;
}

#home .page-heading p {
    margin-bottom: 0px;
    line-height: 1.4;
}

#home .page-heading .container {
    position: relative;
}

#home .page-heading #carbonads {
    overflow: hidden;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 5px;
    width: auto !important;
    height: auto !important;
    margin: 30px -30px -31px !important;
    padding: 20px !important;
    border-style: solid !important;
    border-color: rgba(255, 255, 255, 0.498039) !important;
    border-width: 1px 0px !important;
    font-size: 13px !important;
    line-height: 16px !important;
    background: transparent !important;
}

#home .page-heading #carbonads .carbon-wrap .carbon-img {
    display: block;
    float: left;
    margin: 0px !important;
}

#home .page-heading #carbonads .carbon-wrap .carbon-text {
    color: rgba(255, 255, 255, 0.8);
    display: block !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin-left: 145px !important;
    padding-top: 0px !important;
}

#home .page-heading #carbonads .carbon-poweredby {
    display: block !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin-left: 145px !important;
    color: white !important;
    text-align: left !important;
    margin-top: 10px !important;
}

footer {
    display: block;
    font-family: Century Gothic, 'Muli', sans-serif;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0px;
}

img {
    border: 0px;
}

* {
    box-sizing: border-box;
}

footer a,
footer .text-gray {
    color: #B2B2B2;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

p {
    margin: 0px 0px 10px;
}

ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container::before,
.container::after,
.row::before,
.row::after {
    display: table;
    content: " ";
}

.container::after,
.row::after {
    clear: both;
}

.pull-right {
    float: right !important;
}

footer {
    color: #fff;
    padding-top: 60px;
    padding-bottom: 35px;
    background: #001A1F;
    border-top: 1px solid #0F4852;
}

footer .copy-left {
    font-size: 12px;
    padding-top: 15px;
    margin-top: 15px;
}

div.clear {
    clear: both;
}

div.dsb-footer-support-title,
div.dsb-footer-about-title,
div.dsb-footer-getintouch-title {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 18px;
    margin-left: 0px;
    color: #FDB03C;
}

div.visible-xs div.dsb-footer-getintouch-title {
    text-align: center;
    margin-right: 0px;
    margin-top: 15px;
}
div.visible-xs div.dsb-footer-getintouch-description {
    color: #d2d2d3;
    text-align: center;
    margin-right: 0px;
    margin-top: 15px;
}

div.visible-md div.dsb-footer-getintouch-title {
    text-align: right;
    margin-right: 0px;
}
div.visible-md div.dsb-footer-getintouch-description {
    color: #d2d2d3;
    text-align: right;
    margin-right: 0px;
    margin-top: 15px;
}


ul.dsb-footer-about-ul li a {
    text-decoration: none;
    color: #d2d2d3;
}

ul.dsb-footer-about-ul li {
    font-family: Century Gothic;
    list-style-type: none;
    margin-bottom: 5px;
}

ul.dsb-footer-about-ul {
    margin-left: -40px;
    margin-top: 15px;
}
a.footer-mailto-dsbpos {
    text-decoration: none;
    color: #d2d2d3;
}

div.col-md-12.pull-right.social-icon-footer {
    text-align: right;
    margin-top: 20px;
    margin-right: 0px;
}

div.copy-left p {
    padding: 0px;
    margin-bottom: 0px;
}

div.copy-left {
    padding-bottom: 10px;
    border-top: 1px solid #8f969f;
    color: #8f969f;
    background-color: #2e3139;
}

img.social-icon {
    width: 40px;
}

a.social-link {
    margin-left: 5px;
}

.element-non-mobi {
    display: block;
}

footer .box-copyright {
    background: #001A1F;
}

footer h5.text-center {
    border-top: 1px solid #eee;
    padding-top: 10px;
    background: #001A1F;
    font-family: Century Gothic, 'Muli', sans-serif;
}
div#modal-subscribe-success, #modal-subscribe-error{
    margin-top: 14%;
    font-family: Century Gothic, 'Muli', sans-serif;
}
div#modal-subscribe-success .modal-dialog, #modal-subscribe-error .modal-dialog{
    background: #02232A;
    color: white;
    line-height: 2;
    border-radius: 6px;
    border: 10px solid #03363A;
}
div#modal-subscribe-success .modal-body, #modal-subscribe-error .modal-body {
    background: transparent;
    color: white;
    line-height: 2;
    padding: 14px;
    position: relative;
    top: -19px;
}
div#modal-subscribe-success .modal-content, #modal-subscribe-error .modal-content{
    background: transparent;
}
div#modal-subscribe-success .modal-body .block-success, #modal-subscribe-error .modal-body .block-success {
    background: #20B115;
    padding: 15px;
    font-size: 22px;
    font-family: Century Gothic, 'Muli', sans-serif;
}
img.social-notification{
    width: 25px;
    position: relative;
    top: -7px;
}
.block-content {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ddd;
}
.block-social {
    font-size: 20px;
    padding-bottom: 10px;
    color: #ddd;
}
.no-padding{
    padding: 0px;
}
.block-link{
    text-align: center;
}
.block-link ul.list-inline {
    display: inline-block;
    margin: 5px auto;
}
.block-link li a {
    font-size: 18px;
    text-decoration: none;
}
.block-link li:nth-child(2) {
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.block-link li:last-child a {
    color: red;
}
img.alert-img{
    position: absolute;
    width: 88px;
    top: -6px;
}
span.alert-notif {
    margin-left: 100px;
    font-size: 23px;
}

@media (max-width: 399px) {
    #mainNavHome button.navbar-toggle {
        margin-top: 15px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-xs {
        width: 220px;
    }

    .navbar-custom .navbar-toggle {
        background-color: #ff921e;
        border: 1px solid #ff921e;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #home header .intro-text .intro-lead-in {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    #home header {
        padding-top: 15vh;
        min-height: 320px;
        max-height: 800px;
    }

    #home input.subscribe {
        margin-left: 2px;
        height: 30px;
        box-shadow: inset 0 0 4px 1px #00252C;
        border: none;
        background-image: url('../img/home/SubscribeButtonIddle.png');
        outline: none;
        background-size: cover;
        min-width: 105px;
    }

    nav#mainNavHome.affix {
        height: 72px;
    }

    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #ff921e;
    }

    #mainNavHome div#bs-example-navbar-collapse-1 {
        margin-top: 12.5px;
        padding: 15px 0px 0px 0px;
    }

    .navbar-custom .nav li a {
        margin: auto;
        border: none;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    #home div.container-fluid.section-2 h2 {
        font-size: 40px;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-weight: bold;
    }

    #home div.container-fluid.section-2 h3 {
        color: #FC9320;
        font-size: 28px;
    }

    #home div.container-fluid.section-2 p.gray-text.text-center {
        font-size: 16px;
    }


    #home div.container-fluid.section-3 h3.visible-xs {
        font-size: 16px;
        margin-top: 0px;
    }

    #home div.container-fluid.section-4 {
        height: 400px;
    }

    #home div.container-fluid.section-4 h4.visible-xs {
        font-size: 16px;
        margin-top: 30px;
    }

}


@media (min-width: 400px) and (max-width: 540px){
    #mainNavHome button.navbar-toggle {
        margin-top: 15px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-xs {
        width: 220px;
    }


    .navbar-custom .navbar-toggle {
        background-color: #ff921e;
        border: 1px solid #ff921e;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #home header .intro-text .intro-lead-in {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    #home header {
        padding-top: 15vh;
        min-height: 320px;
        max-height: 1000px;
    }

    #home input.subscribe {
        margin-left: 2px;
        height: 30px;
        box-shadow: inset 0 0 4px 1px #00252C;
        border: none;
        background-image: url('../img/home/SubscribeButtonIddle.png');
        outline: none;
        background-size: cover;
        min-width: 105px;
    }

    nav#mainNavHome.affix {
        height: 72px;
    }

    nav#mainNavHome.affix ul.nav.navbar-nav.navbar-right {
        margin-top: -10px;
    }

    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #ff921e;
    }

    #mainNavHome div#bs-example-navbar-collapse-1 {
        margin-top: 12.5px;
        padding: 15px 0px 0px 0px;
    }

    .navbar-custom .nav li a {
        margin: auto;
        border: none;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    #home div.container-fluid.section-2 h2 {
        font-size: 40px;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-weight: bold;

    }

    #home div.container-fluid.section-2 h3 {
        color: #FC9320;
        font-size: 32px;
    }

    #home div.container-fluid.section-2 p.gray-text.text-center {
        font-size: 20px;
    }

    #home div.container-fluid.section-3 h3.visible-xs {
        font-size: 20px;
        margin-top: 30px;
    }

    #home div.container-fluid.section-4 {
        height: 400px;
    }

    #home div.container-fluid.section-4 h4.visible-xs {
        font-size: 20px;
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.intro-text {
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media (min-width: 541px) and (max-width: 767px){
    #mainNavHome button.navbar-toggle {
        margin-top: 27.5px;
        font-size: 15px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-xs {
        margin-top: 0px;
        width: 300px;
    }

    .navbar-custom .navbar-toggle {
        background-color: #ff921e;
        border: 1px solid #ff921e;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #home header .intro-text .intro-lead-in {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 5px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    #home header {
        padding-top: 15vh;
        min-height: 400px;
        max-height: 1200px;
    }

    #home input.subscribe {
        margin-left: 2px;
        height: 30px;
        box-shadow: inset 0 0 4px 1px #00252C;
        border: none;
        background-image: url('../img/home/SubscribeButtonIddle.png');
        outline: none;
        background-size: cover;
        min-width: 105px;
    }

    nav#mainNavHome.affix {
        height: 100px;
    }

    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #ff921e;
    }

    #mainNavHome div#bs-example-navbar-collapse-1 {
        margin-top: 20px;
        padding: 15px 0px 0px 0px;
    }

    .navbar-custom .nav li a {
        margin: auto;
        border: none;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    #home div.container-fluid.section-2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.container-fluid.section-2 h2 {
        font-size: 40px;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-weight: bold;

    }

    #home div.container-fluid.section-2 h3 {
        color: #FC9320;
        font-size: 32px;
    }

    #home div.container-fluid.section-2 p.gray-text.text-center {
        font-size: 20px;
    }

    #home div.container-fluid.section-3 h3.visible-xs {
        font-size: 1.6em;
        margin-top: 50px;
    }

    #home div.container-fluid.section-4 {
        height: 400px;
    }

    #home div.container-fluid.section-4 h4.visible-xs {
        font-size: 20px;
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.intro-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    nav#mainNavHome.affix ul.nav.navbar-nav.navbar-right {
        margin-top: -10px;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    #mainNavHome button.navbar-toggle {
        margin-top: 27.5px;
        font-size: 15px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-xs {
        margin-top: 0px;
        width: 380px;
    }

    ul.nav.navbar-nav.navbar-right {
        margin-top: -10px;
    }

    .navbar-custom .navbar-toggle {
        background-color: #ff921e;
        border: 1px solid #ff921e;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #home header .intro-text .intro-lead-in {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 5px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 30px;
    }

    #home header {
        padding-top: 20vh;
        min-height: 480px;
        max-height: 1000px;
    }

    #home .box-subscribe input,
    #home .box-subscribe select {
        height: 50px;
        font-size: 20px;
        font-family: Century Gothic, 'Muli', sans-serif;
        box-shadow: inset 0 0 6px 2px #00252C;
        background: #ddd;
        border: none;
        outline: none;
        color: #848d95;
        text-align: left;
    }

    #home .box-subscribe select {
        border-radius: 5px;
        -webkit-appearance: none;
        background: url(../img/dsb/button_dropdown.png) no-repeat right #ddd;
        padding-right: 25%;
        -moz-appearance: none;
        text-align-last: left;
    }

    #home input.subscribe {
        margin-left: 2px;
        height: 30px;
        box-shadow: inset 0 0 4px 1px #00252C;
        border: none;
        background-image: url('../img/home/SubscribeButtonIddle.png');
        outline: none;
        background-size: cover;
        min-width: 160px;
    }

    nav#mainNavHome.affix {
        height: 115px;
    }

    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #ff921e;
    }

    #mainNavHome div#bs-example-navbar-collapse-1 {
        margin-top: 30px;
        padding: 15px 0px 0px 0px;
        background: none;
        font-size: 20px;
    }

    nav#mainNavHome.affix ul.nav.navbar-nav.navbar-right {
        margin-top: -10px;
    }

    .navbar-custom .nav li a {
        margin: auto;
        border: none;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    #home div.container-fluid.section-2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.container-fluid.section-2 h2 {
        font-size: 65px;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-weight: bold;
    }

    #home div.container-fluid.section-2 img.features-img {
        max-height: none;
        width: 50%;
    }

    #home div.container-fluid.section-2 h3 {
        color: #FC9320;
        font-size: 40px;
    }

    #home div.container-fluid.section-2 p.gray-text.text-center {
        font-size: 24px;
    }

    #home div.container-fluid.section-3 {
        height: 80vh;
        padding-top: 400px;
        max-height: 800px;
    }

    #home div.container-fluid.section-3 .container {
        padding-top: 0px;
        margin-top: -50px;
    }

    #home div.container-fluid.section-3 h3.visible-xs {
        font-size: 28px;
    }

    #home div.container-fluid.section-3 h3 {
        padding-top: 0px;
    }

    #home div.container-fluid.section-4 {
        height: 600px;
        padding-top: 110px;
    }

    #home div.container-fluid.section-4 h4.visible-xs {
        font-size: 28px;
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.intro-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    .container {
        width: 100%;
    }

    #home .box-subscribe input, #home .box-subscribe select {
        height: 50px;
        font-size: 20px;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    footer {
        font-size: 18px;
    }

}

@media (min-width: 992px)  and (max-width: 1169px) {
    .container {
        width: 100%;
    }

    #mainNavHome button.navbar-toggle {
        margin-top: 27.5px;
        font-size: 15px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-sm {
        margin-top: 0px;
        width: 450px;
    }

    nav#mainNavHome.affix img.img-responsive.logo.visible-sm {
        margin-top: 0px;
        width: 300px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-md {
        margin-top: 0px;
        width: 450px;
    }

    nav#mainNavHome.affix img.img-responsive.logo.visible-md {
        margin-top: 0px;
        width: 300px;
    }

    nav#mainNavHome.affix ul.nav.navbar-nav.navbar-right {
        margin-top: -15px;
    }

    .navbar-custom .navbar-toggle {
        background-color: #ff921e;
        border: 1px solid #ff921e;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #home header .intro-text .intro-lead-in {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 5px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 30px;
    }

    #home header {
        padding-top: 20vh;
        min-height: 650px;
        max-height: 1200px;
    }

    nav#mainNavHome.affix {
        height: 95px;
    }

    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #ff921e;
    }

    #mainNavHome div#bs-example-navbar-collapse-1 {
        margin-top: 30px;
        padding: 15px 0px 0px 0px;
        background: none;
        font-size: 24px;
    }

    ul.nav.navbar-nav.navbar-right {
        padding: 0px;
        margin-top: -5px;
    }

    .navbar-custom .nav li a {
        margin: auto;
        border: none;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    #home div.container-fluid.section-2 {
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.container-fluid.section-2 h2 {
        font-size: 70px;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-weight: bold;
    }

    #home div.container-fluid.section-2 img.features-img {
        max-height: none;
        width: 80%;
    }

    #home div.container-fluid.section-2 h3 {
        color: #FC9320;
        font-size: 32px;
    }

    #home div.container-fluid.section-2 p.gray-text.text-center {
        font-size: 20px;
    }

    #home div.container-fluid.section-3 img.win-real-cash-img {
        width: 80%;
        margin-top: 150px;
    }

    #home div.container-fluid.section-3 {
        height: 90vh;
        min-height: 600px;
        max-height: 1000px;
    }

    #home div.container-fluid.section-3 .container {
        padding-top: 0px;
    }

    #home div.container-fluid.section-3 h3.visible-xs {
        font-size: 32px;
        margin-top: 300px;
    }

    #home div.container-fluid.section-3 h3.visible-md {
        font-size: 32px;
        margin-top: 300px;
    }

    #home div.container-fluid.section-3 h3 {
        padding-top: 0px;
    }

    #home div.container-fluid.section-4 {
        height: 600px;
        padding-top: 110px;
    }

    #home div.container-fluid.section-4 h4.visible-md {
        font-size: 32px;
        margin-top: 80px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.intro-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    #home .box-subscribe {
        margin-left: 120px;
    }

    #home .box-subscribe input,
    #home .box-subscribe select {
        height: 50px;
        font-size: 20px;
        font-family: Century Gothic, 'Muli', sans-serif;
        box-shadow: inset 0 0 6px 2px #00252C;
        background: #ddd;
        border: none;
        outline: none;
        color: #848d95;
        text-align: left;
    }

    #home .box-subscribe select {
        border-radius: 5px;
        -webkit-appearance: none;
        background: url(../img/dsb/button_dropdown.png) no-repeat right #ddd;
        padding-right: 25%;
        -moz-appearance: none;
        text-align-last: left;
    }

    #home input.subscribe {
        margin-left: 2px;
        height: 50px;
        box-shadow: inset 0 0 4px 1px #00252C;
        border: none;
        background-image: url('../img/home/SubscribeButtonIddle.png');
        outline: none;
        background-size: cover;
        min-width: 160px;
    }

    #home input.subscribe:hover {
        background-image: url('../img/home/SubscribeButtonHover2.png');
    }

    footer {
        font-size: 18px;
    }

    #home header .intro-text {
        padding-top: 15vh;
        padding-bottom: 200px;
    }
    #home header .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}


@media (min-width: 1170px){
    .container {
        width: 1170px;
    }

    #mainNavHome button.navbar-toggle {
        margin-top: 27.5px;
        font-size: 15px;
    }

    nav#mainNavHome img.img-responsive.logo.visible-md {
        margin-top: 0px;
        width: 450px;
    }

    nav#mainNavHome.affix img.img-responsive.logo.visible-md {
        margin-top: 0px;
        width: 300px;
    }

    nav#mainNavHome.affix ul.nav.navbar-nav.navbar-right {
        margin-top: -15px;
    }

    .navbar-custom .navbar-toggle {
        background-color: #ff921e;
        border: 1px solid #ff921e;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #home header .intro-text .intro-lead-in {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 5px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 30px;
    }

    #home header {
        padding-top: 20vh;
        min-height: 650px;
    }

    nav#mainNavHome.affix {
        height: 95px;
    }

    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
        background-color: #ff921e;
    }

    #mainNavHome div#bs-example-navbar-collapse-1 {
        margin-top: 30px;
        padding: 15px 0px 0px 0px;
        background: none;
        font-size: 24px;
    }

    ul.nav.navbar-nav.navbar-right {
        padding: 0px;
        margin-top: -5px;
    }

    .navbar-custom .nav li a {
        margin: auto;
        border: none;
        font-family: Century Gothic, 'Muli', sans-serif;
    }

    #home div.container-fluid.section-2 {
        margin: 0 auto;
    }

    #home div.container-fluid.section-2 h2 {
        font-size: 80px;
        font-family: Century Gothic, 'Muli', sans-serif;
        font-weight: bold;
    }

    #home div.container-fluid.section-2 img.features-img {
        max-height: none;
        width: 80%;
    }

    #home div.container-fluid.section-2 h3 {
        color: #FC9320;
        font-size: 40px;
    }

    #home div.container-fluid.section-2 p.gray-text.text-center {
        font-size: 24px;
    }

    #home div.container-fluid.section-3 img.win-real-cash-img {
        width: 80%;
        margin-top: 15vh;
    }

    #home div.container-fluid.section-3 {
        height: 90vh;
        min-height: 800px;
        max-height: 1200px;
    }

    #home div.container-fluid.section-3 .container {
        padding-top: 0px;
    }

    #home div.container-fluid.section-3 h3.visible-md {
        font-size: 32px;
        margin-top: 50vh;
    }

    #home div.container-fluid.section-3 h3 {
        padding-top: 0px;
    }

    #home div.container-fluid.section-4 {
        height: 600px;
        padding-top: 110px;
    }

    #home div.container-fluid.section-4 h4.visible-md {
        font-size: 32px;
        margin-top: 80px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #home div.intro-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    #home .box-subscribe {
        margin-left: 120px;
    }

    #home .box-subscribe input,
    #home .box-subscribe select {
        height: 50px;
        font-size: 20px;
        font-family: Century Gothic, 'Muli', sans-serif;
        box-shadow: inset 0 0 6px 2px #00252C;
        background: #ddd;
        border: none;
        outline: none;
        color: #848d95;
        text-align: left;
    }

    #home .box-subscribe select {
        border-radius: 5px;
        -webkit-appearance: none;
        background: url(../img/dsb/button_dropdown.png) no-repeat right #ddd;
        padding-right: 25%;
        -moz-appearance: none;
        text-align-last: left;
    }

    #home input.subscribe {
        margin-left: 2px;
        height: 50px;
        box-shadow: inset 0 0 4px 1px #00252C;
        border: none;
        background-image: url('../img/home/SubscribeButtonIddle.png');
        outline: none;
        background-size: cover;
        min-width: 160px;
    }

    #home input.subscribe:hover {
        background-image: url('../img/home/SubscribeButtonHover2.png');
    }

    footer {
        font-size: 18px;
    }

    #home header .intro-text {
        padding-top: 15vh;
        padding-bottom: 200px;
    }
    #home header .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    #home header .intro-text .intro-heading {
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}





