img.img-responsive.logo {
    height: inherit;
    margin-top: -16px;
}

.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}
.navbar-custom .navbar-brand {
    color: #fed136;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
    color: #fec503;
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98);
}
.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    color: white;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
    background-color: #fed136;
}
.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    border: 1px solid #ddd;
    margin-right: 16px;
    border-radius: 51px;
    padding: 6px 12px;
    margin-top: 8px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #fed136;
    border-color: #fed136;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}


@media (min-width: 768px) {
    .home .navbar-custom {
        background-color: transparent;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom{
        padding: 10px 0;
        margin: '0px;'
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #00252C;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}


#termsofuse .container-fluid.section-1{
  background: url('../img/dsb/background-home-section-1.gif') top no-repeat;
  background-color: #00252C;
  background-size: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: Calibri;
}
#termsofuse .container-fluid .container.container-1 .row.row-1{
    margin-top: 70px;
    padding-left: 35px;
    padding-right: 50px;
    background: #06343C;
    color: white;
    text-align: center;
    font-family: "Century Gothic";
}
#termsofuse .container-fluid.section-1 .container.container-2{
    background: #012329;
    padding: 50px;
    color: white;
    line-height: 1.7;
    border-bottom: 2px solid #0F4852;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    opacity: 0.8;
}

body.termsofuse .navbar-custom {
    background-color: #00252C;
    border-color: transparent;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
body.termsofuse footer, body.termsofuse footer h5.text-center, body.termsofuse footer .box-copyright {
  background: #00252C;
  border-top: 1px solid #0F4852;
  border-bottom: 0px;
  margin-top: 0px;
}


#privacy .container-fluid.section-1{
    background: url("../img/dsb/background-home-section-1.gif") top no-repeat;
    background-size: 100%;
    background-color: #00252C;
    min-height: 100vh;
}
#privacy .container-fluid .container.container-1 .row.row-1{
    margin-top: 70px;
    padding-left: 35px;
    padding-right: 50px;
    background: #06343C;
    color: white;
    text-align: center;
    font-family: "Century Gothic";
}
#privacy .container-fluid.section-1 .container.container-2{
    background: #012329;
    padding: 50px;
    color: white;
    line-height: 1.7;
    border-bottom: 2px solid #0F4852;
    font-family: "Century Gothic";
    opacity: 0.8
}

body.privacy .navbar-custom {
    background-color: #00252C;
    border-color: transparent;
}
body.privacy footer, body.privacy footer h5.text-center, body.privacy footer .box-copyright {
    background: #00252C;
}


footer { display: block; }
a { background-color: transparent; }
a:active,a:hover { outline: 0px; }
img { border: 0px; }
* { box-sizing: border-box; }
footer a, footer .text-gray { color: #B2B2B2; text-decoration: none; }
a:hover { color: #23527c; text-decoration: none; }
img { vertical-align: middle; }
p { margin: 0px 0px 10px; }
ul { margin-top: 0px; margin-bottom: 10px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.row { margin-right: -15px; margin-left: -15px; }
.col-md-3,.col-md-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.container::before,.container::after,.row::before,.row::after { display: table; content: " "; }
.container::after,.row::after { clear: both; }
.pull-right { float: right !important; }
footer { color: #fff; padding-top: 60px; padding-bottom: 35px; background: #00252C;}
footer .copy-left { font-size: 12px; padding-top: 15px; margin-top: 15px; border-top: 1px solid #fff; }
div.clear { clear: both; }
div.termsofuse-footer-support-title,div.termsofuse-footer-about-title,div.termsofuse-footer-getintouch-title { font-weight: bold; font-size: 18px; margin-left: 0px; color: #FDB03C;}
div.termsofuse-footer-getintouch-title { text-align: right; margin-right: 0px; }
ul.dsb-footer-about-ul li a {
    text-decoration: none;
    color: #d2d2d3;
}

ul.dsb-footer-about-ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

ul.dsb-footer-about-ul {
    margin-left: -40px;
    margin-top: 15px;
}
footer .box-copyright {
    background: #00252C;
}

footer h5.text-center {
    border-top: 1px solid #eee;
    padding-top: 10px;
    background: #00252C;
}
div.termsofuse-footer-getintouch-description { color: #d2d2d3; text-align: right; margin-right: 0px; margin-top: 15px; }
a.footer-mailto-termsofusepos { text-decoration: none; color: #d2d2d3; }

div.privacy-footer-support-title,div.privacy-footer-about-title,div.privacy-footer-getintouch-title { font-weight: bold; font-size: 18px; margin-left: 0px; color: #FDB03C;}
div.privacy-footer-getintouch-title { text-align: right; margin-right: 0px; }
ul.privacy-footer-about-ul li a { text-decoration: none; color: #d2d2d3; }
ul.privacy-footer-about-ul li { list-style-type: none; margin-bottom: 5px; }
ul.privacy-footer-about-ul { margin-left: -40px; margin-top: 15px; }
div.privacy-footer-getintouch-description { color: #d2d2d3; text-align: right; margin-right: 0px; margin-top: 15px; }
a.footer-mailto-privacypos { text-decoration: none; color: #d2d2d3; }

div.col-md-12.pull-right.social-icon-footer { text-align: right; margin-top: 20px; margin-right: 0px; }
div.copy-left p { padding: 0px; margin-bottom: 0px; }
div.copy-left { padding-bottom: 10px; border-top: 1px solid #8f969f; color: #8f969f; background-color: #2e3139; }
img.social-icon { width: 40px; }
a.social-link { margin-left: 5px; }
.element-non-mobi { display: block; }
