#body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

#header {
    background-color: black;
    height: 102px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}

.navbar {
    height: 100px;
    background-color: black;
    box-sizing: border-box;
    width: 1200px;
    color: white;
    margin: 0 auto;
}

.logo {
    border: 1px solid white;
    width: 200px;
    float: left;
    box-sizing: border-box;
    line-height: 20px;
    padding: 40px 0px 40px 0px;
    text-align: center;
}

.links {
    float: left;
    width: 150px;
    line-height: 20px;
    padding: 40px 0px 40px 0px;
    text-align: center;
}

.login {
    float: right;
    width: 150px;
    line-height: 20px;
    padding: 40px 0px 40px 0px;
    text-align: center;
}

#top-background {
    width: 100%;
    background-color: orange;
}

#top-section {
    width: 1200px;
    margin: auto;
    background-color: black;
    height: 560px;
}

#contest-background {
    width: 100%;
    background-color: darkgray;
}

#contest-table {
    width: 1200px;
    margin: auto;
    background-color: black;
    height: 500px;
}

#footer-wrapper {
    width: 100%;
    background-color: grey;
    height: 500px;
}

#footer-box {
    width: 1200px;
    margin: auto;
    height: 400px;
    background-color: white;
}